<html>
    <head><title>COUNTED</title></head>
    <body bgcolor = "black">
            <center><h1 style = "color : white">RESULT</h1></center>
            <h1 style = "color : greenyellow">YOUR TEXT :</h1>
            <p style = "color : white; font-size: 50px ">{{fulltext}}</p> 
            <br><br>
            <h1 style = "color : greenyellow">TOTAL WORDS :</h1>
            <p style = "color : white; font-size: 50px">{{words}}</p>
            <br><br>
            <a href ={% url 'home' %}>back to homepage</a>
            
    </body>
</html>

